/* Centrage et style global */
.forgot-password-page{
    background: url('c:\Users\pc\Downloads\WhatsApp Image 2025-03-13 à 23.17.03_02cd1b34.jpg') ;
}
.forgot-password-container {
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 1rem;
    
    background: linear-gradient(-45deg, #DFDCF2, #D2D3D9, #F2E8C9, #F2E6D0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Segoe UI", sans-serif;
  }
  
  /* Logo */
  .forgot-password-logo {
    width: 100px;
    margin: 0 auto 1.5rem;
  }
  
  /* Titre */
  .forgot-password-title {
    color: #171F5D;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Champs de saisie */
  .forgot-password-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: border-color 0.3s;
    border-color: #FFAA00;
  }
  
  .forgot-password-input:focus {
    outline: none;
    border-color: #171F5D;
  }
  
  /* Bouton */
  .forgot-password-button {
    width: 40%;
    background-color: #171F5D;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 1.0rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .forgot-password-button:hover {
    background-color: #FFAA00;
    color: #171F5D;
  }
  
  /* Messages */
  .success-message {
    color: green;
    margin-top: 1rem;
  }
  
  .error-message {
    color: red;
    margin-top: 1rem;
  }
  
  /* Lien de retour */
  .return-login {
    display: block;
    margin-top: 2rem;
    color: #171F5D;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .return-login:hover {
    color: #FFAA00;
  }
  