/* Conteneur principal pour la page */
.admin-container {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column; /* Mise en page verticale */
  
}

/* Barre de navigation en haut */
/* Conteneur avec la barre latérale et le contenu */
.main-content {
    display: flex;
    flex-grow: 1; /* Permet au contenu principal de remplir l'espace restant */
}

/* Barre latérale */
.sidebar {
    width: 250px;
    background-color: #D2D3D9; /* Bleu principal */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; /* Prendre toute la hauteur */
    color: #171F5D;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.sidebar img{
  
        margin-top: 1rem;
        width: 100px;
        height: auto;
        margin-left: 75px;
}
/* Titre dans la barre latérale */
.sidebar-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFAA00; /* Jaune pour contraster avec le bleu */
}

/* Menu de navigation dans la barre latérale */
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement entre les boutons */
}

/* Boutons de navigation dans la barre latérale */
.nav-button {
    text-align: left;
    color: #171F5D;
   
    background: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    padding: 12px 20px;
  }
  
  .nav-button:hover {
    background-color: #D2D3D9; /* Jaune */
    color: #FFAA00; /* Bleu foncé */
    font-weight: bold;
    border: 1px solid #FFAA00;
  }
  .nav-button.active {
    background: linear-gradient(to right , #FFAA00);
    /* Jaune */
    color: #171F5D; /* Bleu foncé */
    font-weight: bold;
    border: 1px solid #171F5D;
  }

/* Bouton de déconnexion */
.logout-button {
    text-align: left;
 
    background-color: #D2D3D9; /* Jaune */
    color: #171F5D; /* Bleu foncé */
   
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-top: auto;
    padding: 12px 20px;
    margin-bottom: 20px; /* Ajout d'une marge en bas pour espacer du bas de la barre latérale */
}

.logout-button:hover {
    color: #FFAA00;
    background-color: #171F5D;
    border: 1px solid #FFAA00;
    border-radius: 20px;
}

/* Contenu principal (à droite de la barre latérale) */


/* Zone de contenu avec un design moderne */
.content-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titre principal de la page */
.title {
    font-size: 30px;
    color: #171F5D; /* Bleu principal */
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
