/* Conteneur principal pour la page */
.fournisseur-container {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column; /* Mise en page verticale */
}

/* Barre de navigation en haut */
/* .topbar {
  width: 100%;
  background-color: white; 
  color: #FFAA00; 
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
  font-weight: bold;
  
}
.notification-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  color: #FFAA00; 
  cursor: pointer;
  margin-left: 200px;
} 
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white; 
  color: #FFAA00;
}*/
/* Barre de navigation en haut */


.notification-icon {
  position: relative;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #FFAA00;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}

/* Conteneur avec la barre latérale et le contenu */
.main-content {
  display: flex;
  flex-grow: 1;
}

/* Barre latérale */
.sidebar {
  width: 250px;
  background-color: #D2D3D9; /* Bleu foncé */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color:#171F5D;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Titre dans la barre latérale */
.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #FFAA00; /* Jaune */
  font-weight: bold;
}

/* Menu de navigation dans la barre latérale */
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espace entre les éléments du menu */
 
}

/* Boutons de navigation dans la barre latérale */
.nav-button {
  text-align: left;
  color: #171F5D;
 
  background: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  padding: 12px 20px;
}

.nav-button:hover {
  background-color: #D2D3D9; /* Jaune */
  color: #FFAA00; /* Bleu foncé */
  font-weight: bold;
  border: 1px solid #FFAA00;
}
.nav-button.active {
  background-color: #FFAA00; /* Jaune */
  color: #171F5D; /* Bleu foncé */
  font-weight: bold;
  border: 1px solid #171F5D;
}

/* Bouton de déconnexion */
.logout-button {
  text-align: left;

  background-color: #D2D3D9; /* Jaune */
  color: #171F5D; /* Bleu foncé */
  border: 1px solid #171F5D;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: auto;
  padding: 12px 20px;
  margin-bottom: 20px; /* Ajout d'une marge en bas pour espacer du bas de la barre latérale */
}

.logout-button:hover {
  color: #FFAA00;
  background-color: #171F5D;
  border: 1px solid #FFAA00;
  border-radius: 20px;
}

/* Contenu principal (à droite de la barre latérale) */


/* Zone de contenu avec une couleur de fond élégante */
.content-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titre principal de la page */
.title {
  font-size: 30px;
  color: #171F5D; /* Bleu foncé */
  font-weight: bold;
}

/* Styles pour les boutons */
button {
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 15px;
  border: none;
  background-color: #171F5D; /* Bleu foncé */
  color: white;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background-color: #FFAA00; /* Jaune */
  color: #171F5D; /* Bleu foncé */
}

/* Styles spécifiques pour l'affichage des éléments */
.list-item {
  background-color: white;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #FFAA00; /* Accent jaune sur le côté */
}

.list-item:hover {
  background-color: #f1f1f1;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #171F5D; /* Bleu foncé */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #FFAA00; /* Jaune */
  color: #171F5D; /* Bleu foncé */
}
